.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-roboto), sans-serif;
}

.pageWrapper {
  display: flex;
  flex: 1;
  background-color: #f5f5f5;
}

/* Main Content */
.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  overflow-y: auto;
  margin-left: 280px; /* matches sidebar width */
}
