.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-roboto), sans-serif;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 16px;
}

.description {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  max-width: 600px;
}

.buttonContainer {
  margin-top: 32px;
  padding: 12px;
  gap: 16px;
  display: flex;
  justify-content: center;
}
