.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-roboto), sans-serif;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  background-color: rgb(239, 239, 239);
  border-radius: 16px;
  box-shadow: 16px;
}

.title {
  padding: 12px;
  padding-bottom: 0%;
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #303030;
}

.description {
  padding: 12px;
  padding-top: 12px;
  font-size: 1.2rem;
  color: #303030;
  text-align: center;
  max-width: 600px;
}

.buttonContainer {
  margin-top: 10px;
  gap: 16px;
  display: flex;
  justify-content: center;
}
