.header {
  padding: 20px 40px;
  border-bottom: 1px solid #252525;
  background-color: #252525;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logoIcon {
  font-size: 32px;
}

.logoText {
  font-size: 32px;
  font-weight: 700;
  color: #000000;
}
