.visualiserContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.visualiser {
  width: 100%;
  height: 100%;
}

@media (max-width: 700px) {
  .visualiserContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    min-width: 0;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
  .visualiser,
  .mirrored {
    width: 100%;
    height: 50%;
    max-height: 50%;
    margin: 0;
  }
}

/* .visualiserContainer {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.visualiser {
  width: 100%;
  flex: 1;
}

.mirrored {
  width: 100%;
  height: 30%;
  opacity: 0.3;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
}

@media (max-width: 700px) {
  .visualiserContainer {
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .visualiser,
  .mirrored {
    width: 100%;
  }

  .visualiser {
    height: 60%;
  }

  .mirrored {
    height: 25%;
  }
} */
