.visualiserContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.visualiser {
  width: 100%;
  height: 100%;
}

@media (max-width: 700px) {
  .visualiserContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    min-width: 0;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
  .visualiser,
  .mirrored {
    width: 100%;
    height: 50%;
    max-height: 50%;
    margin: 0;
  }
}
