.visualiserContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.visualiser {
  width: 100%;
  height: 100%;
}

@media (max-width: 700px) {
  .visualiserContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 100vw;
    min-width: 0;
    max-height: 50vw;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .visualiser,
  .mirrored {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
  }
  .mirrored {
    margin-top: 0;
  }
}
