.waveformContainer {
  width: 100%;
  height: 100%;
  background: #000;
  display: block;
}

.waveformSvg {
  width: 100%;
  height: 100%;
  min-height: 0;
  max-height: 100%;
  display: block;
  background: transparent;
}

.waveformBar {
  transition: fill 0.2s;
}

@media (max-width: 700px) {
  .waveformContainer {
    visibility: hidden;
  }
}
