.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-roboto), sans-serif;
}

.pageWrapper {
  display: flex;
  flex: 1;
  background-color: #4d4d4d;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  overflow-y: auto;
  transition: margin-left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
